In [2]:
import pymongo

# Creating a Database
To create a database in MongoDB, start by creating a MongoClient object, then specify a connection URL with the correct ip address and the name of the database you want to create.
MongoDB will create the database if it does not exist, and make a connection to it.

In [3]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase1"]
#Important: In MongoDB, a database is not created until it gets content!

In [16]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'mydatabase1']

In [17]:
dblist = myclient.list_database_names()
if "mydatabase1" in dblist:
    print("The database exists.")
else:
    print("dose not exixts")

The database exists.

# A collection in MongoDB is the same as a table in SQL databases.

### Creating a Collection
To create a collection in MongoDB, use database object and specify the name of the collection you want to create.
MongoDB will create the collection if it does not exist.

In [9]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]

mycol = mydb["customers"]
#Important: In MongoDB, a collection is not created until it gets content!

#### Remember: In MongoDB, a collection is not created until it gets content, so if this is your first time creating a collection, you should complete the next chapter (create document) before you check if the collection exists!

In [46]:
print(mydb.list_collection_names())

[]

In [19]:
collist = mydb.list_collection_names()
if "customers" in collist:
    print("The collection exists.")
else:
    print("The Collection dose not exists")

The collection exists.

## A document in MongoDB is the same as a record in SQL databases

#### Insert Into Collection


To insert a record, or document as it is called in MongoDB, into a collection, we use the insert_one() method.
The first parameter of the insert_one() method is a dictionary containing the name(s) and value(s) of each field in the document you want to insert

In [14]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

#### Return the _id Field
The insert_one() method returns a InsertOneResult object, which has a property, inserted_id, that holds the id of the inserted document.

In [48]:
#Insert another record in the "customers" collection, and return the value of the _id field:
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

5eb7b109dfc0e0d78e93c0c9

Insert Multiple Documents
To insert multiple documents into a collection in MongoDB, we use the insert_many() method.
The first parameter of the insert_many() method is a list containing dictionaries with the data you want to insert:

In [57]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('5eb7b1a9dfc0e0d78e93c0df'), ObjectId('5eb7b1a9dfc0e0d78e93c0e0'), ObjectId('5eb7b1a9dfc0e0d78e93c0e1'), ObjectId('5eb7b1a9dfc0e0d78e93c0e2'), ObjectId('5eb7b1a9dfc0e0d78e93c0e3'), ObjectId('5eb7b1a9dfc0e0d78e93c0e4'), ObjectId('5eb7b1a9dfc0e0d78e93c0e5'), ObjectId('5eb7b1a9dfc0e0d78e93c0e6'), ObjectId('5eb7b1a9dfc0e0d78e93c0e7'), ObjectId('5eb7b1a9dfc0e0d78e93c0e8'), ObjectId('5eb7b1a9dfc0e0d78e93c0e9'), ObjectId('5eb7b1a9dfc0e0d78e93c0ea')]

### Insert Multiple Documents, with Specified IDs

In [58]:

#If you do not want MongoDB to assign unique ids for you document, you can specify the _id field when you insert the document(s).
#Remember that the values has to be unique. Two documents cannot have the same _id.

import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

### In MongoDB we use the find and findOne methods to find data in a collection.
Just like the SELECT statement is used to find data in a table in a MySQL database.

Find One
To select data from a collection in MongoDB, we can use the find_one() method.
The find_one() method returns the first occurrence in the selection.

In [23]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

x = mycol.find_one()

print(x)

{'_id': ObjectId('5eb7aa8ddfc0e0d78e93c0a0'), 'name': 'John', 'address': 'Highway 37'}

Find All
To select data from a table in MongoDB, we can also use the find() method.
The find() method returns all occurrences in the selection.
The first parameter of the find() method is a query object. In this example we use an empty query object, which selects all documents in the collection.

In [17]:
#No parameters in the find() method gives you the same result as SELECT * in MySQL.

In [25]:
#Return all documents in the "customers" collection, and print each document:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

for x in mycol.find():
    print(x)

{'_id': ObjectId('5eb7aa8ddfc0e0d78e93c0a0'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5eb7aaa4dfc0e0d78e93c0a1'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0aa'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ab'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ac'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ad'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ae'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## Return Only Some Fields


The second parameter of the find() method is an object describing which fields to include in the result.
This parameter is optional, and if omitted, all fields will be included in the result.

In [27]:
#Return only the names and addresses, not the _ids:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

# You are not allowed to specify both 0 and 1 values in the same object (except if one of the fields is the _id field). If you specify a field with the value 0, all other fields get the value 1, and vice versa:

In [29]:
#This example will exclude "address" from the result:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

for x in mycol.find({},{ "address": 0 }):
  print(x)

{'_id': ObjectId('5eb7aa8ddfc0e0d78e93c0a0'), 'name': 'John'}
{'_id': ObjectId('5eb7aaa4dfc0e0d78e93c0a1'), 'name': 'Peter'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a3'), 'name': 'Amy'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a4'), 'name': 'Hannah'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a5'), 'name': 'Michael'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a6'), 'name': 'Sandy'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a7'), 'name': 'Betty'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a8'), 'name': 'Richard'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a9'), 'name': 'Susan'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0aa'), 'name': 'Vicky'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ab'), 'name': 'Ben'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ac'), 'name': 'William'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ad'), 'name': 'Chuck'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ae'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

In [34]:
#You get an error if you specify both 0 and 1 values in the same object (except if one of the fields is the _id field):
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

for x in mycol.find({},{ "name": 1, "address": 1 }):
  print(x)

{'_id': ObjectId('5eb7aa8ddfc0e0d78e93c0a0'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5eb7aaa4dfc0e0d78e93c0a1'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0aa'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ab'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ac'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ad'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ae'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

### Filter the Result
When finding documents in a collection, you can filter the result by using a query object.
The first argument of the find() method is a query object, and is used to limit the search.

In [35]:
#Find document(s) with the address "Park Lane 38":
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ab'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

### Advanced Query
To make advanced queries you can use modifiers as values in the query object.
E.g. to find the documents where the "address" field starts with the letter "S" or higher (alphabetically), use the greater than modifier: {"$gt": "S"}:

In [37]:
#Find documents where the address starts with the letter "S" or higher:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

myquery = { "address": { "$gt": "S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

### Filter With Regular Expressions
You can also use regular expressions as a modifier.
Regular expressions can only be used to query strings.

In [36]:
#To find only the documents where the "address" field starts with the letter "S", use the regular expression {"$regex": "^S"}:

#Find documents where the address starts with the letter "S":
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ae'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

### Sort the Result
Use the sort() method to sort the result in ascending or descending order.
The sort() method takes one parameter for "fieldname" and one parameter for "direction" (ascending is the default direction).

In [41]:
#Sort the result alphabetically by name:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ab'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ad'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5eb7aa8ddfc0e0d78e93c0a0'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5eb7aaa4dfc0e0d78e93c0a1'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0aa'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ae'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ac'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

### Sort Descending
Use the value -1 as the second parameter to sort descending.
sort("name", 1) #ascending
sort("name", -1) #descending

In [42]:
#Sort the result reverse alphabetically by name:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name", -1)

for x in mydoc:
  print(x)

{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ac'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ae'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0aa'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5eb7aaa4dfc0e0d78e93c0a1'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5eb7aa8ddfc0e0d78e93c0a0'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ad'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0ab'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5eb7ab87dfc0e0d78e93c0a3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

### Delete Document
To delete one document, we use the delete_one() method.
The first parameter of the delete_one() method is a query object defining which document to delete.

In [33]:
#Note: If the query finds more than one document, only the first occurrence is deleted.

In [43]:
#Delete the document with the address "Mountain 21":
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

# Delete Many Documents
To delete more than one document, use the delete_many() method.
The first parameter of the delete_many() method is a query object defining which documents to delete.

In [44]:
#Delete all documents were the address starts with the letter S:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

myquery = { "address": {"$regex": "^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

4  documents deleted.

### Delete All Documents in a Collection
To delete all documents in a collection, pass an empty query object to the delete_many() method:

In [45]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

x = mycol.delete_many({})

print(x.deleted_count, " documents deleted.")

0  documents deleted.

# Delete Collection
You can delete a table, or collection as it is called in MongoDB, by using the drop() method.

In [51]:
#Delete the "customers" collection:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

mycol.drop()

In [39]:
#The drop() method returns true if the collection was dropped successfully, and false if the collection does not exist.

## Update Collection
You can update a record, or document as it is called in MongoDB, by using the update_one() method.
The first parameter of the update_one() method is a query object defining which document to update.

In [40]:
#Note: If the query finds more than one record, only the first occurrence is updated.

In [52]:
#Change the address from "Valley 345" to "Canyon 123":
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
  print(x)

### Update Many
To update all documents that meets the criteria of the query, use the update_many() method.

In [54]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

0 documents updated.

# Limit the Result
To limit the result in MongoDB, we use the limit() method.

In [45]:
#The limit() method takes one parameter, a number defining how many documents to return.

In [60]:
#Limit the result to only return 5 documents:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase1"]
mycol = mydb["customers"]

myresult = mycol.find().limit(10)

#print the result:
for x in myresult:
  print(x)

{'_id': ObjectId('5eb7b1a9dfc0e0d78e93c0df'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5eb7b1a9dfc0e0d78e93c0e0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5eb7b1a9dfc0e0d78e93c0e1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5eb7b1a9dfc0e0d78e93c0e2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5eb7b1a9dfc0e0d78e93c0e3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5eb7b1a9dfc0e0d78e93c0e4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5eb7b1a9dfc0e0d78e93c0e5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5eb7b1a9dfc0e0d78e93c0e6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5eb7b1a9dfc0e0d78e93c0e7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5eb7b1a9dfc0e0d78e93c0e8'), 'name': 'William', 'address': 'Central st 954'}